---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?client_id=d970a954882a4cfda0406399b64b8b3f&q=treysongz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4985'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"username":"treysongz","bio":"TRIGGA
        available NOW! www.Treysongz.com bit.ly\/theangelnetwork","website":"http:\/\/smarturl.it\/buyslowmotion","profile_picture":"https:\/\/igcdn-photos-a-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10932137_454438738040024_124741692_a.jpg","full_name":"treysongz","id":"13358278"},{"username":"itz.treysongz","bio":"SHOUTOUT\/FANPAGE
        for Trey Songz''s fans\nComment \"Trigga\ud83d\ude0d\" to be noticed","website":"","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11005093_796649357094657_787915522_a.jpg","full_name":"TreySongz","id":"979109356"},{"username":"treysongz.priv","bio":"Trey
        songs fan page \nFor all the trey supporters \nComment \"ily\" to be noticed","website":"","profile_picture":"https:\/\/i[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/13358278/media/recent/?client_id=d970a954882a4cfda0406399b64b8b3f&max_timestamp=1425193200&min_timestamp=1425106800
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4984'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{},"meta":{"code":200},"data":[{"attribution":null,"tags":["btstour","triggareloaded"],"location":null,"comments":{"count":944,"data":[{"created_time":"1425439205","text":"@youraverage_teeen","from":{"username":"olivia.mclaughlinn","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/10784823_811059945620124_1289447391_a.jpg","id":"1115997773","full_name":"Nivia\ud83d\udc9e"},"id":"932974135090560973"},{"created_time":"1425442428","text":"You
        were great!! @treysongz","from":{"username":"tmarababy17","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xpf1\/t51.2885-19\/10362055_273711186136065_391219820_a.jpg","id":"144318459",[...]
