---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?client_id=d970a954882a4cfda0406399b64b8b3f&q=treysongz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4989'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"username":"treysongz","bio":"TRIGGA
        available NOW! www.Treysongz.com bit.ly\/theangelnetwork","website":"http:\/\/smarturl.it\/buyslowmotion","profile_picture":"https:\/\/igcdn-photos-a-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10932137_454438738040024_124741692_a.jpg","full_name":"treysongz","id":"13358278"},{"username":"itz.treysongz","bio":"SHOUTOUT\/FANPAGE
        for Trey Songz''s fans\nComment \"Trigga\ud83d\ude0d\" to be noticed","website":"","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11005093_796649357094657_787915522_a.jpg","full_name":"TreySongz","id":"979109356"},{"username":"treysongz.priv","bio":"Trey
        songs fan page \nFor all the trey supporters \nComment \"ily\" to be noticed","website":"","profile_picture":"https:\/\/i[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/13358278/media/recent/?client_id=d970a954882a4cfda0406399b64b8b3f&max_timestamp=1425366000&min_timestamp=1425279600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4988'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{},"meta":{"code":200},"data":[{"attribution":null,"tags":["trgaxbrzy","btstour"],"location":null,"comments":{"count":9766,"data":[{"created_time":"1425502513","text":"I''m
        so disappointed in you babe. I left my heart in the crowd for you the whole
        night you were on stage for you not to acknowledge it. Don''t be acting brand
        new cause Chris brown was there \ud83d\ude12","from":{"username":"thats.b","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10955073_799613956787245_82034436_a.jpg","id":"239563926","full_name":"celfie''
        queen \ud83d\udc29"},"id":"933505199265496604"},{"created_time":"1425502940","text":"Omfg
        @mariayandyan \ud83d\ude3b\ud83d\ude3b\ud83d\ude3b\ud83d\ude3b\ud83d\ude3b","from":{"username":"faida_said","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/1597[...]
