default: &default
  adapter: postgresql
  host: localhost
  pool: 5
  timeout: 5000
  username: insert_vps_db_username
  password: vps_db_pword

development:
  <<: *default
  database: travel-hub-rails_development

test:
  <<: *default
  database: travel-hub-rails_test

production:
  <<: *default
  database: travel-hub-rails_production
